/* CSS Document */
	
body{
	background:url(../media/bg.png);
	padding:5px;}	
	
.nav-menu{
	list-style:none;
	text-transform:uppercase;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	width:50px;
	z-index: 10;
	position:fixed;
	left:10px;
	top: 10px;
	}

.nav-menu li{
	height:50px;
	width:50px;
	overflow:hidden;
	}
	
.home:hover{
	width:150px;
	height:50px;}

.user:hover{
	width:150px;
	height:130px;}
	
.media:hover{
	width:150px;
	height:90px;}	
	
.settings:hover{
	width:150px;
	height:90px;}
	
.search:hover{
	width:150px;
	}	
	
.nav-menu li a{
	text-decoration:none;
	display:block;
	width: 150px;
	height:40px;
	line-height:40px;
	background:#096;
	margin:1px;
	color:#FFF;
	padding-left:20px;
	cursor:pointer;
	
	transition-property:all;
	transition-duration:0.2s;
	transition-timing-function:ease-in-out;
	}

.nav-menu li a:hover{
	background:#066;
	}
	
.nav-menu li a:first-child{
	font-size:1.2em;
	height:50px;
	line-height:50px;
	position:relative;
	text-indent:30px;
	}
.nav-menu li a:first-child::before{
	content:'';
	position:absolute;
	display:block;
	height:48px;
	width:48px;
	top: 1px;
	left:0px;
	bottom:1px;}
	
.home a:first-child::before{
	background:url(../media/home.ico) center no-repeat;
	background-size: 48px;
	}	
.home a:first-child::before{
	background:url(../media/home.ico) center no-repeat;
	background-size: 48px;
	}
	
.user a:first-child::before{
	background:url(../media/user.ico) center no-repeat;
	background-size: 48px;
	}
	
.media a:first-child::before{
	background:url(../media/wmplayer.ico) center no-repeat;
	background-size: 48px;
	}
	
.settings a:first-child::before{
	background:url(../media/settings.ico) center no-repeat;
	background-size: 48px;
	}
	
.search a:first-child::before{
	background:url(../media/search.ico) center no-repeat;
	background-size: 48px;
	}

/*ЅЋќ  з лог≥ном та меню*/

#login{
	color:#FFF;
	width:120px;
	font-size:11px;
	font-variant:small-caps;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
	position:fixed;
	top:10px;
	right:10px;}

#login a{
	color:inherit;
	text-decoration:none;
	font-family:"Courier New", Courier, monospace;
	font-size:10px;}
	
#login a:hover{
	cursor:pointer;}
	
#name{
	float:left;
	width:104px;
	height:16px;
	line-height:16px;}
	
#btn_img{
	display:inline-block;
	height:16px;
	width:16px;}	

.sub-btn{
	background:url(../media/exit.ico) no-repeat center;
	background-size:16px;
	border:none;
	width:20px;
	height:16px;}
	
.sub-btn:hover{
	cursor:pointer;}
/*---------------------------*/