/* CSS Document */
body{
	background:url(../media/bg.png);
	padding:5px;}

.container{
	background:#FFF;
	border-radius: 10px 10px 0px 0px;
	border: 2px solid #006;
	box-sizing:border-box;
	width:1000px;
	min-width:500px;
	min-height:600px;
	margin:15px auto;
	margin-top:50px;
	padding:15px;
	position:relative;}

#other-users{
	display:inline-block;
	color:#036;
	font-family:"Courier New", Courier, monospace;
	width:220px;
	float:left;}

#other-users a{
	border-left:2px solid #036;
	color:#036;
	text-decoration:none;
	margin-left:10px;
	padding-left:10px;}
	
#other-users a:hover{
	color:#297ECB;}	
